# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.db
*.sqlite3

# Entornos y credenciales
.env
.env.local
!.env.example

# Node & Frontend
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
